---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../icons/SocialPill.astro";
import GithubIcon from "../icons/Github.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import DownloadIcon from "../icons/Download.astro";
import Form from "../components/Form.astro";
import PhoneIcon from "../icons/Phone.astro";
---

<style>
	@keyframes float {
		0% {
			box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
			transform: translatey(0px);
		}
		50% {
			box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
			transform: translatey(-20px);
		}
		100% {
			box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
			transform: translatey(0px);
		}
	}

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}

	.avatar {
		width: 165px;
		height: 184px;
		box-sizing: border-box;
		border: 5px rgba(23, 63, 100, 0.349) solid;
		border-radius: 45%;
		overflow: hidden;
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
		img {
			width: 100%;
			height: auto;
		}
	}

	.content {
		width: 100%;
		max-width: 600px;
		padding: 20px 40px;
		box-sizing: border-box;
		text-align: center;
	}

	.suppoprt-me {
		display: inline-block;
		position: fixed;
		bottom: 10px;
		left: 10px;
		width: 20vw;
		max-width: 250px;
		min-width: 200px;
		z-index: 9;
		img {
			width: 100%;
			height: auto;
		}
	}
</style>

<Layout
	title="Portafolio | Jhonier Santana"
	description="Contrata a Jhonier Santana para crear tu aplicacion web. Desarrollador Full Stack."
>
	<main class="px-4">
		<SectionContainer id="top" class="py-44">
			<div class="flex flex-col items-center justify-center">
				<h1
					class="text-3xl md:text-4xl font-bold text-center text-blue-100 border rounded-full p-3"
				>
					Jhonier Santana Desarrollador de Software
				</h1>
				<div
					class="flex flex-col items-center lg:flex-row lg:justify-center lg:items-start mt-8"
				>
					<div class="container">
						<div class="avatar">
							<img
								class="rounded-full w-32 h-auto lg:w-48 lg:h-auto mb-6 lg:mr-6 lg:mb-0"
								src="../../public/projects/MiFoto.wepd"
								alt="Jhonier Foto"
							/>
						</div>
					</div>
					<div class="text-white max-w-lg lg:max-w-[700px]">
						<h2 class="text-xl lg:text-2xl opacity-80 text-wrap">
							Soy <span class="text-yellow-200/90"
								>Desarrollador de Software Junior</span
							> apasionado y altamente responsable, con más de un año
							de dedicación y estudios enfocados en el desarrollo tanto
							Front-End como Back-End. Soy del Socorro Santander y
							actualmente busco trabajo para ampliar mi experiencia.
						</h2>
						<nav class="flex gap-4 mt-8 flex-wrap">
							<SocialPill
								href="https://www.linkedin.com/in/jhonier-yesid-santana-pedroza-457492265/"
							>
								<LinkedInIcon class="size-4 md:size-6" />
								LinkedIn
							</SocialPill>
							<SocialPill
								href="https://github.com/JhonierSantana"
							>
								<GithubIcon class="size-4 md:size-6" />
								Github
							</SocialPill>
							<SocialPill
								href="https://drive.google.com/file/d/10ES37AdOIXjBYsL3h42wMwUl-2vOiVmo/view?usp=sharing"
								download
							>
								<DownloadIcon class="size-4 md:size-6" />
								Descarga mi CV
							</SocialPill>
						</nav>
					</div>
				</div>
			</div>
		</SectionContainer>

		<SectionContainer id="experiencia" class="py-44">
			<h2 class="text 3xl font-semibold mb-6 flex gap-x-3 item-center">
				<BriefCaseIcon class="size-7" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="portafolio" class="py-44">
			<h2 class="text 3xl font-semibold mb-6 flex gap-x-3 item-center">
				<CodeIcon class="size-7" />
				Portafolio
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="contacto" class="py-44">
			<h2 class="text 3xl font-semibold mb-6 flex gap-x-3 item-center">
				<PhoneIcon class="size-7" />
				Contactame
			</h2>
			<Form />
		</SectionContainer>
	</main>
</Layout>
