---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
	{
		date: "Septiembre 2023 - Octubre 2023",
		title: "Sofware Developer (trainee) | Autonomic Jump",
		description:
			"Entrene en varios lenguajes de programación, incluyendo Dart, Kotlin, R, Rex, Red y Lua, con un enfoque en programacion funcional, recursión, y resolución de desafíos, y utilizando Git en entornos industriales. Experiencia en el uso de herramientas y procesos de integracion continua y entrega continua (CI/CD)",
	},
	{
		date: "Septiembre 2022 - Julio 2023",
		title: "Sofware Developer | Holberton School",
		description:
			"Programa intensivo de 9 meses basado en la práctica de proyectos utilizando tecnologías como: Python, MySQL, Flask, HTML, CSS, JavaScript, ReactJS y Bootstrap. Con espacios para desarrollar en aprendizaje autónomo y el apoyo entre pares.",
	},
];
---

<ol class="relative border-s border-gray-200 ml-1">
	{
		EXPERIENCE.map((experience) => (
			<li
				class="
	mb-12
	ms-4"
			>
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
