<div id="message" class="eins-modal">
	<div class="eins-modal-content">
		<form id="form" class="form">
			<div class="mb-4">
				<label for="name" class="block text-white"
					>Tu Nombre<span>*</span></label
				>
				<input
					name="name"
					required
					type="text"
					id="name"
					class="w-full px-3 py-2 rounded-md bg-gray-800 text-white"
				/>
			</div>
			<div class="mb-4">
				<label for="email" class="block text-white"
					>Tu Correo Electrónico<span>*</span></label
				>
				<input
					type="email"
					name="email"
					id="email"
					class="w-full px-3 py-2 rounded-md bg-gray-800 text-white"
				/>
			</div>
			<div class="mb-6">
				<label for="message" class="block text-white"
					>Tu mensaje<span>*</span></label
				>
				<textarea
					name="message"
					id="message"
					class="w-full px-3 py-2 rounded-md bg-gray-800 text-white"
				></textarea>
			</div>
			<button
				type="button"
				id="submitBtn"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
			>
				Enviar
			</button>
			<div id="successMessage" class="hidden text-green-500 mt-2">
				Mensaje enviado correctamente.
			</div>
			<div id="errorMessage" class="hidden text-red-500 mt-2">
				Hubo un error al enviar el mensaje.
			</div>
		</form>
	</div>
</div>
<script>
	const button = document.getElementById("submitBtn") as HTMLButtonElement;
	const form = document.getElementById("form") as HTMLFormElement;
	const errorMessage = document.getElementById(
		"errorMessage",
	) as HTMLDivElement;
	const successMessage = document.getElementById(
		"successMessage",
	) as HTMLDivElement;
	button.addEventListener("click", function () {
		const formData = new FormData(form);
		const xhr = new XMLHttpRequest();
		let formIsValid = true;

		formData.forEach(function (value) {
			if (!value) {
				formIsValid = false;
			}
		});

		if (!formIsValid) {
			if (errorMessage) {
				errorMessage.classList.remove("hidden");
			}
			setTimeout(function () {
				if (errorMessage) {
					errorMessage.classList.add("hidden");
				}
			}, 3000);
			return;
		}

		xhr.open("POST", "https://formspree.io/f/xdoqldka");
		xhr.setRequestHeader("Accept", "application/json");
		xhr.onreadystatechange = function () {
			if (xhr.readyState !== XMLHttpRequest.DONE) return;
			if (xhr.status === 200) {
				if (successMessage) {
					successMessage.classList.remove("hidden");
				}
				setTimeout(function () {
					if (successMessage) {
						successMessage.classList.add("hidden");
					}
				}, 3000);
				form.reset();
			} else {
				if (errorMessage) {
					errorMessage.classList.remove("hidden");
				}
				setTimeout(function () {
					if (errorMessage) {
						errorMessage.classList.add("hidden");
					}
				}, 3000);
			}
		};
		xhr.send(formData);
	});
</script>
