<div id="message" class="eins-modal">
	<div class="eins-modal-content">
		<form id="form" class="form">
			<div class="mb-4">
				<label for="name" class="block text-white">Nombre<span>*</span></label>
				<input
					name="name"
					required
					type="text"
					id="name"
					class="w-full px-3 py-2 rounded-md bg-gray-800 text-white"
				/>
			</div>
			<div class="mb-4">
				<label for="email" class="block text-white"
					>Tu Correo Electrónico<span>*</span></label
				>
				<input
					type="email"
					name="email"
					id="email"
					class="w-full px-3 py-2 rounded-md bg-gray-800 text-white"
				/>
			</div>
			<div class="mb-6">
				<label for="message" class="block text-white"
					>Tu mensaje<span>*</span></label
				>
				<textarea
					name="message"
					id="message"
					class="w-full px-3 py-2 rounded-md bg-gray-800 text-white"></textarea>
			</div>
			<button
				type="button"
				id="submitBtn"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
			>
				Enviar
			</button>
			<div id="successMessage" class="hidden text-green-500 mt-2">
				Mensaje enviado correctamente.
			</div>
			<div id="errorMessage" class="hidden text-red-500 mt-2">
				Hubo un error al enviar el mensaje.
			</div>
		</form>
	</div>
</div>
<script>
	document.getElementById("submitBtn").addEventListener("click", function () {
		const form = document.getElementById("form");
		if (!form) {
			throw new Error("El elemento form no se encuentra en el DOM.");
		}

		if (
			!form.name.value.trim() ||
			!form.email.value.trim() ||
			!form.message.value.trim()
		) {
			document.getElementById("errorMessage").classList.remove("hidden");
			setTimeout(function () {
				document.getElementById("errorMessage").classList.add("hidden");
			}, 3000);
			return;
		}

		const formData = new FormData(form);
		const xhr = new XMLHttpRequest();
		xhr.open("POST", "https://formspree.io/f/xdoqldka");
		xhr.setRequestHeader("Accept", "application/json");
		xhr.onreadystatechange = function () {
			if (xhr.readyState !== XMLHttpRequest.DONE) return;
			if (xhr.status === 200) {
				document.getElementById("successMessage").classList.remove("hidden");
				setTimeout(function () {
					document.getElementById("successMessage").classList.add("hidden");
				}, 3000);
				form.reset();
			} else {
				document.getElementById("errorMessage").classList.remove("hidden");
				setTimeout(function () {
					document.getElementById("errorMessage").classList.add("hidden");
				}, 3000);
			}
		};
		xhr.send(formData);
	});
</script>
