<div class="fixed top-0 left-0 z-50 h-screen flex items-center">
	<aside
		class="flex flex-col gap-y-4 bg-#8D05ED p-4 rounded h-full justify-center w-60"
	>
		<nav class="flex flex-col gap-y-8 opacity-80 mx-auto text-lg">
			<a class="hover:text-yellow-200 hover:underline" href="#top"
				>Sobre mi</a
			>
			<a class="hover:text-yellow-200 hover:underline" href="#experiencia"
				>Experiencia</a
			>
			<a class="hover:text-yellow-200 hover:underline" href="#portafolio"
				>Portafolio</a
			>
			<a class="hover:text-yellow-200 hover:underline" href="#contacto"
				>Contactame</a
			>
		</nav>
	</aside>
	<div class="h-full border-l border-white"></div>
</div>
