<div
	class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto"
>
	<img
		class="rounded-full size-12"
		src="../../public/jhoniers.jpg"
		alt="Jhonier Foto"
	/>
	<nav class="flex flex-row gap-x-10 opacity-80">
		<a href="#top">Home</a>
		<a href="#sobremi">Sobre mi</a>
		<a href="#experiencia">Experiencia</a>
		<a href="#portafolio">Portafolio</a>
		<a href="#contact">Contacto</a>
	</nav>
</div>
